@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model FifthGroup_Backstage.ViewModel.DashboardViewModel


@{
    var userName = @HttpContextAccessor.HttpContext.Session.GetString("UserID");
}

<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-12 text-center">
            <div class="card">
                <div class="d-flex align-items-end row">
                    <div class="col-sm-7">
                        <div class="card-body">

                            @if (!string.IsNullOrEmpty(userName))
                            {
                                <h3 class="card-title text-primary">Welcome ! @userName 🎉</h3>
                            }
                            else
                            {
                                <h3 class="card-title text-primary">Welcome ! (管理者帳號)🎉</h3>
                            }


                            <p class="mb-2">
                                社區名稱：@(Model != null ? Model.CommunityName : "(登入後顯示)")
                            </p>
                            <p class="mb-2">
                                社區地址：@(Model != null ? Model.CommunityAddress : "(登入後顯示)")
                            </p>
                            <p class="mb-2">
                                總戶數：@(Model != null ? Model.CommunityTotalUnits.ToString() : "(登入後顯示)")
                            </p>

                        </div>
                    </div>
                    <div class="col-sm-5 text-center text-sm-left">
                        <div class="card-body pb-0 px-0 px-md-4">
                            <img src="https://res.cloudinary.com/dwdov2ta3/image/upload/v1694835565/Home_detLOGO_rhffge.png"
                                 height="140"
                                 alt="View Badge User"
                                 data-app-dark-img="illustrations/man-with-laptop-dark.png"
                                 data-app-light-img="illustrations/man-with-laptop-light.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 order-1 mt-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="../assets/img/icons/unicons/chart-success.png"
                                         alt="chart success"
                                         class="rounded" />
                                </div>
                               
                            </div>
                            <span class="fw-semibold d-block mb-1">待審核的維修申請</span>
                            <h3 class="card-title mb-2">@($"{Model.UnprocessedCount}筆")</h3>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="../assets/img/icons/unicons/chart.png"
                                         alt="Credit Card"
                                         class="rounded" />
                                </div>
         
                            </div>
                            <span class="fw-semibold d-block mb-1">待審核的場地預約</span>
                            <h3 class="card-title mb-2">@(@Model.StateZeroCount + "筆")</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>


      @*   <div class="col-lg-4 col-md-4 order-1 mt-4">
            <div class="row">
                <div class="col-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="../assets/img/icons/unicons/paypal.png" alt="Credit Card" class="rounded" />
                                </div>
                                
                            </div>
                            <span class="d-block mb-1">Payments</span>
                            <h3 class="card-title text-nowrap mb-2">$2,456</h3>
                            
                        </div>
                    </div>
                </div>
                <div class="col-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-title d-flex align-items-start justify-content-between">
                                <div class="avatar flex-shrink-0">
                                    <img src="../assets/img/icons/unicons/cc-primary.png" alt="Credit Card" class="rounded" />
                                </div>
                              
                            </div>
                            <span class="fw-semibold d-block mb-1">Transactions</span>
                            <h3 class="card-title mb-2">$14,857</h3>
                           
                        </div>
                    </div>
                </div>

 
            </div>
        </div> *@
    </div>
    <div class="row">
        <!-- Order Statistics -->
        <div class="col-md-6 col-lg-4 col-xl-4 order-0 mb-4">
            <div class="card h-100">
                <div class="card-header d-flex align-items-center justify-content-between pb-0">
                    <div class="card-title mb-0">
                        <h5 class="m-0 me-2">分棟資訊</h5>
                        <small class="text-muted">總戶數</small>
                    </div>
                   
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex flex-column align-items-center gap-1">
                            <h3 class="mb-2">
                                @((Model.CommunityTotalUnits != null) ? Model.CommunityTotalUnits : "(登入後顯示)")
                            </h3>
                        </div>
                      @*   <div id="orderStatisticsChart"></div> *@
                    </div>
                    <ul class="p-0 m-0">
                        @if (Model.CommunityBuildings != null)
                        {
                            @foreach (var building in Model.CommunityBuildings)
                            {
                                <li class="d-flex mb-4 pb-1">
                                    <div class="avatar flex-shrink-0 me-3">
                                        <span class="avatar-initial rounded bg-label-info"><i class="bx bx-home-alt"></i></span>
                                    </div>
                                    <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                        <div class="me-2">
                                            <h6 class="mb-0">@building.BuildingName</h6>
                                            <small class="text-muted">樓層數:@(building.FloorNumber)</small>
                                            <small class="text-muted">每層戶數:@(building.UnitNumber)</small>
                                        </div>
                                        
                                    </div>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="d-flex mb-4 pb-1">
                                <div class="avatar flex-shrink-0 me-3">
                                    <span class="avatar-initial rounded bg-label-info"><i class="bx bx-home-alt"></i></span>
                                </div>
                                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                    <div class="me-2">
                                        <h6 class="mb-0">登入後顯示</h6>
                                        <small class="text-muted">樓層數:*</small>
                                        <small class="text-muted">每層戶數:*</small>
                                    </div>
                              
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <!--/ Order Statistics -->

        <!-- Transactions -->
        <div class="col-md-6 col-lg-4 order-2 mb-4">
            <div class="card h-100">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="card-title m-0 me-2">社區舉辦中的活動</h5>
         
                </div>
                <div class="card-body">
                    <ul class="p-0 m-0">
                        @foreach (var application in Model.ApplicationsData)
                        {
                            <li class="d-flex mb-4 pb-1">
                                <div class="avatar flex-shrink-0 me-3">
                                    <img src="~/assets/img/icons/unicons/activity.jpg" alt="User" class="rounded" />
                                </div>
                                <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                                    <div class="me-2">
                                        <small class="text-muted d-block mb-1">@($"{application.DateStart:yyyy-MM-dd} ~ {application.DateEnd:yyyy-MM-dd}")</small>
                                        <h6 class="mb-0">@application.ActivityName</h6>
                                    </div>
                                    <div class="user-progress d-flex align-items-center gap-1">
                                        <span class="text-muted">報名率</span>
                                        <h6 class="mb-0">@($"{application.EnrollmentRate:P0}")</h6>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>

                    <!-- 分頁導航 -->
                    <div class="pagination">
                        @if (Model.CurrentPage > 1)
                        {
                            <a href="?page=@(Model.CurrentPage - 1)" class="page-link">上一頁</a>
                        }

                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            <a href="?page=@i" class="page-link @(i == Model.CurrentPage ? "active" : "")">@i</a>
                        }

                        @if (Model.CurrentPage < Model.TotalPages)
                        {
                            <a href="?page=@(Model.CurrentPage + 1)" class="page-link">下一頁</a>
                        }
                    </div>

                </div>
            </div>
        </div>
        <!--/ Transactions -->
        <!-- Transactions -->
        <div class="col-md-6 col-lg-4 order-2 mb-4">
            <div class="card h-100">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="card-title m-0 me-2">Fuen29 資展國際台南全端養成班</h5>

                </div>
                <div class="card-body">
                  
                        <img class="justify-content-center"src="~/images/New/Fuen29.png" />
                    <h5 class="mt-4">本平台僅供學習、展示之用，非營業用途。</h5>

                </div>
            </div>
        </div>
        <!--/ Transactions -->

    </div>
</div>
<!-- / Content -->
